body{
  background-color: #e9e9e9;
}
img{
  height: 30px;
  width: 30px;
  margin-left: 16px;
}
.weather-container {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.weather-container {
  user-select: none; /* 禁止文本选择 */
  -webkit-user-select: none; /* 兼容 WebKit 内核 */
  -moz-user-select: none; /* 兼容 Mozilla */
  -ms-user-select: none; /* 兼容旧版 IE */

  border-radius: 20px;
  padding-bottom: 10%;
  background-color: #fafafa;

}

.weather-selected-date {
  font-size: 15px;
  padding-left: 55%;
  padding-top: 10px;
  
}

.weather-now-temperature{
  text-align: center;
  text-wrap: wrap;
  padding-left: 45px;
  font-size: 130px;
  margin: 0px;
}
.weather-conditions{
  text-align: center;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 60px;
}
.weather-week-info {
  /* background-color: gray; */
  position:relative;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px;
}
.weather-temperature-range{
  position: absolute;
  text-align: right;
  top: 140px;
  right: 30%;
  padding-right: 12px;
  line-height: 30px;
  /* background-color: red; */
}

.weather-btn-other-days {
  /* background-color: beige; */
  /* border-color: gray; */
  user-select: none; /* 禁止文本选择 */
  -webkit-user-select: none; /* 兼容 WebKit 内核 */
  -moz-user-select: none; /* 兼容 Mozilla */
  -ms-user-select: none; /* 兼容旧版 IE */
  border-style:hidden;
  border-radius: 10px;
  padding: 2px;

  
}
.weather-btn-other-days:hover{
  border-style:solid;
  border-width: 1px;
  padding: 1px;
  transform: scale(0.90);
}
.weather-btn-other-days:active {
  transform: scale(0.95);
}


.weather-btn-date {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.weather-btn-temperature {
  text-align: center;
  font-size: 23px;
  margin-right: 14px;
  margin-left: 14px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.weather-btn-summary-forecast {
  text-align: center;
  margin-top: 0px;
  font-size: 13px;
  opacity: 0.5;
}

@media (max-width: 620px) {
  .weather-week-info {
    justify-content: center;
    gap: 5px;
  }
  .weather-selected-date {
    padding-left: 61%;
  }
  .weather-temperature-range{
    right: 10%;
  }
}